<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>

    <table>
        <th>nome</th>
        <th>email</th>
        <th>telefone</th>

        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.nome}}</td>
            <td>{{ usuario.email}}</td>
            <td>{{ usuario.telefone}}</td>
        </tr>
        {% endfor %} 
    </table>
    

</body>
</html>